.App {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  column-gap: 10px;
}

.song-container {
  flex: 1;
}

.equal-container {
  flex: 1;
}

.large-container {
  flex: 3;
}

#rcorners1 {
  border-radius: 25px;
  padding: 15px;
}

.error {
  color: lightpink;
}

.song-content {
  padding: 5px;
  flex-grow: 1;
}

.list-padding {
  margin-bottom: 10px;
}

.top-padding {
  margin-top: 10px;
}

.songlisting-font {
  font-family: "Poppins";
}

p {
  font-size: 16px;
}

p2 {
  font-size: 22px;
}

h {
  font-size: 30px;
  text-decoration: underline;
}
